.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.inputs{
    margin-top: 3rem;
}

.input-password{
    margin-top:0.5rem;
}

.button-container{
    margin-top: 3rem;
}

.forget-container{
    margin-top:0.01rem;
    margin-left: 6rem;
}

.signup-container{
    margin-top: 3rem;
}