.box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.category{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.item-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #819ca9;
}

.item-2{
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: inline-block;
}